@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-carbon antialiased;
  }
}

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;
}